@charset "UTF-8";
:root {
  --bg_dim: #1b1b1b;
  --bg0: #282828;
  --bg1: #32302f;
  --bg2: #32302f;
  --bg3: #45403D;
  --bg4: #45403D;
  --bg5: #5A524C;
  --bg_diff_red: #402120;
  --bg_diff_green: #34381B;
  --bg_diff_blue: #0E363E;
  --fg0: #D4BE98;
  --fg1: #DDC7A1;
  --red: #EA6962;
  --green: #A9B665;
  --blue: #7DAEA3;
  --yellow: #D8A657;
  --purple: #D3869B;
  --orange: #E78A4E;
  --aqua: #89B482;
}

html {
  scroll-behavior: smooth;
}

/**
 * Disable smooth scrolling when users have prefers-reduced-motion enabled
 */
@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

body {
  margin:0;
  background-color:var(--bg_dim);
  color: var(--fg0);
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
}


/* The navigation bar */
.navbar {
  overflow: clip;
  background-color: var(--bg1);
  position: sticky; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  height: 3em;
  z-index: 1000;
  display: flex;
  justify-content: center;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  display: flex;
  color: var(--fg1);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.2em;
  transition: background 0.3s;
}

.navbar a div {
  transform: translateX(-20%);
  transition: transform 0.2s;
}

/* Change background on mouse-over */
.navbar a:hover {
  background: var(--bg3);
}

.navbar a:hover div {
  transform: translateX(-0%);

}

.main {
  margin: 0;

}

.section {
  margin: 1em auto;
  max-width: 1200px;
  width: 90%;
  scroll-margin-top: 4em;
  padding: 0 1em;
  display: flex;
  flex-flow: column;
}

.title {
  font-size: 2em;
  letter-spacing: .15em; /* Adjust as needed */
  font-weight: 400;
  background-color: var(--bg3);
  min-width: 5em;
  display: inline-block;
  width: -webkit-fit-content;
  border-radius: 16px 16px 0 0;
  padding: 0 1em 0 0.5em;
  flex: 0 1 auto;
}

.content {
  flex: 1 1 auto;
  height: 100%;
  background-color: var(--bg0);
  padding: 1em;
  font-size: large;
  text-align: justify;
}

#profile-pic {
  float: right;
  width: 30%;
  margin: 1em;
  border-radius: 16px;
  border: 3px solid var(--blue);
}

.grid
{
  display: grid;
  grid-template-columns: 8em 1fr 3fr;
}
.grid_img
{
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
}

.grid_img img
{
  display: block;
  width: 100%;
  border-radius: 16px;
}

.grid article {
  grid-column: span 2;
}

.work_info {
  display: flex;
  gap: 3em;

}
.work_year {
  color: var(--green);
}
.work_title {
  color: var(--red);
}
.work_place {
  color: var(--orange);
}
.work_desc {
  margin: 0.5em 1em;
}

.contact {
  width: 100%;
  text-align: center;
  margin: 2em 0;
}

.link:link {
  color: var(--green);
  background-color: transparent;
  text-decoration: none;
}
.link:visited {
  color: var(--bg_diff_green);
  background-color: transparent;
  text-decoration: none;
}
.link:hover {
  color: var(--aqua);
  background-color: transparent;
  text-decoration: underline;
}
.link:active {
  color: var(--blue);
  background-color: transparent;
  text-decoration: underline;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: var(--fg0)}
}